* {
    margin: 0;
    padding: 0;
    font-family: "Lobster", cursive;
}

body {
  background-color: #EAEDED;
}

hr.line1Moh {
  border: 0.5px solid black;
  background-color: black;
  margin-left: 2.2rem;
  width: 40rem;
  margin-top: 0.3rem;
}

hr.line2Moh {
  border: 0.5px solid black;
  background-color: black;
  margin-left: 5rem;
  width: 19rem;
  margin-top: 0.3rem;
}

.bagMoh {
  text-align: center;
  margin-top: 1rem;
  font-weight: bolder;
  font-size: 2.5rem;
}

.containerMoh {
  margin: auto;
  margin-top: 2rem;
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  border-radius: 15px;
  background-color: #eaeded;
  width: 100%;
  
}

.pageMoh {
  margin: auto;
  width: 80rem;
  background-color: white;
  border-radius: 15px;
  padding-bottom: 1rem;
}

.detailsMoh {
  margin-top: 2.5rem;
  margin-left: 1rem;
}

.gridMoh {
  display: grid;
  grid-template-columns: 50% 50%;
}

.tbl {
  margin-left: 4.5rem;
}

.descpMoh{
  margin-left: 5.1rem;
}

.quantityMoh, .priceMoh, .deleteMoh {
  margin-left: 4.4rem;
}

.summaryMoh {
  margin-top: 2.5rem;
  margin-left: 10rem;
}
 .orderMoh {
    margin-left: 5rem;
}
 /* 1244, 1269 */
 @media only screen and (max-width: 1400px) {
  .gridMoh {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 1400px) {
  .detailsMoh{

    margin-left: 17rem;
   }
}
@media only screen and (max-width: 1400px) {
  .summaryMoh{

    margin-left: 25rem;
   }
}
@media only screen and (max-width: 840px) {
  .cartIcon{

    margin-top: 3.5rem;
    margin-right: -5px;
   }
}







.imgMoh {
  border: 1px solid black;
  padding: 2px;
  margin-top: 1.2rem;
  margin-left: 2rem;
  margin-bottom: 1.2rem;
}
  
.itmdetMoh {
  display: flex;
  flex-direction: row;
  margin-top: -rem;
  width: 60rem;
  margin-bottom: 0.7rem;
}

.dataMoh {
  margin-top: 2rem;
  margin-left: 2.5rem;
}


.itPriceMoh {
  position: absolute;
  margin-top: -0.7rem;
  margin-left: 17.2rem;
}

.quantMoh{
  height: 10px;
  margin-left: 4.3rem;
  margin-top: -1rem;
}

.mainChargesMoh {
  margin-top: 1rem;
  margin-left: 5rem;
  margin-bottom: 0.8rem;
}

.schargesMoh {
  margin-left: 4.8rem;
}

.tmoneyMoh {
  margin-left: 14rem;
}
.smoneyMoh {
  margin-left: 7rem;
  margin-top: 1rem;
}



.sumMoh {
  margin-top: 1rem;
  padding: 1rem;
  padding-bottom: 2.7rem;
  width: 23rem;
  height: 3rem;
  margin-left: 3rem;
  background-color: #5DA3FA;
  border-radius: 0.5rem;
}

.fsumMoh {
  margin-left: 8rem;
  
}

#sumMoh {
  margin-left: 1rem;
}

.checkoutMoh {
  margin-left: 5rem;
  margin-top: 2rem;
  padding-bottom: 2rem;
  height: 3.5rem;
  width: 19rem;
  font-size: 2rem;
  border-radius: 1rem;
  color: white;
  background-color: #2b7ee4;
}

.checkoutMoh:hover, #trashMoh:hover,#incMoh:hover, #decMoh:hover{
  opacity: 0.8;
  cursor: pointer;
}

/* .qbtnMoh {
  width: 1.2rem;
  font-size: 2px;
  font-weight: bolder;
  padding: 1px;
} */




#decMoh {
  margin-right: 0.5rem;
}
#incMoh {
  margin-left: 0.5rem;
}

#trashMoh{
  position: absolute;
  margin-top: -8.7rem;
  margin-left: 39rem;
  color: red;
  padding-right: 0.5px;
  width: 2rem;
  font-size: 1.8rem;
  border-style: none;
  background-color: white;
  cursor: pointer;
}

.plus{
  font-weight: bolder;
  margin: auto;
  margin-left: 10px;
  width: 25px;
  cursor: pointer;
  
}

.qbt:hover{
  background-color: rgb(209, 201, 201);
}
/* .minus:hover{
  background-color: rgb(209, 201, 201);
} */
.minus{
  font-weight: bolder;
  margin: auto;
  margin-right: 10px;
  width: 25px;
  cursor: pointer;
}

.quantMoh{
  margin-top: 2.7rem;
  margin-left: 9.4rem;
}

.descMoh{
  position: absolute;
  margin-top: 2.7rem;
}

.qbt:active {
  /* background-color: rgb(209, 201, 201); */
  transform: translateY(4px);
}


#plusMoh{
  margin-bottom: 17px;
  margin-left: 21.5rem;
}

.empty{
  margin: auto;
  text-align: center;
}

.cartIcon{
  border: none;
  text-decoration: none;
  background-color: transparent;
  position: absolute;
  top: 15px;
  right: 30px;
}


